<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
</head>
<body>

<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Homework 4</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="index.php?controller=universities">Universities</a></li>
                <li><a href="index.php?controller=departments">Department</a></li>
                <li><a href="index.php?controller=students">Students</a></li>
                <li><a href="index.php?controller=homeworks">List of homework</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<div class="container">
    <h1>Universities</h1><a href="index.php?controller=universities&action=generate">Generate new universities</a>
    <table class="table table-bordered">
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>City</th>
            <th>Site url</th>
            <th>Actions</th>
        </tr>
        {% for university in universities %}
            <tr>
                <td>{{ university.id }}</td>
                <td>{{ university.universityName }}</td>
                <td>{{ university.city }}</td>
                <td>{{ university.siteUrl }}</td>
                <td><a href="index.php?controller=universities&action=edit&id={{ university.id  }}">edit</a> <a href="index.php?controller=universities&action=delete&id={{ university.id  }}">delete</a></td>
            </tr>
        {% endfor %}
    </table>
    <a href="index.php?controller=universities&action=new&id={{ university.id  }}">Add a new university</a>
</div>
</body>
</html>